@Scripts.Render("~/bundles/js/UsersStatistics")

<h2>Top 10 zawodników</h2>

    <div ng-app="myApp">
        <div ng-app="myApp" ng-controller="MyController">
            <div fusioncharts
                 width="600"
                 height="400"
                 type="column2d"
                 dataSource="{{myDataSource}}">
            </div>
        </div>
    </div>
