@Scripts.Render("~/bundles/js/Statystyki")

<h2>Statystyki</h2>
<div ng-app="myApp" ng-controller="MyController">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <select ng-model="effectivityFilter" class="form-control">
                <option value=""></option>
                <option value="1">Wygrana gospodarzy</option>
                <option value="2">Wygrana gości</option>
                <option value="3">Remis</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div fusioncharts
             width="580"
             height="400"
             type="pie3d"
             dataSource="{{myDataSource}}"
             class="col-sm-6">
        </div>
        <div fusioncharts
             width="580"
             height="400"
             type="pie3d"
             dataSource="{{myDataSourceAwayTeam}}"
             class="col-sm-6">
        </div>
    </div>
</div>