@Scripts.Render("~/bundles/js/Statystyki")

<h2>Statystyki</h2>
<div ng-app="myApp" ng-controller="MyController">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="form-group">
                <select ng-model="effectivityFilter" class="form-control">
                    @*<option value="">Wybierz opcje</option>*@
                    <option value="1">Typowana wygrana gospodarzy</option>
                    <option value="2">Typowana wygrana gości</option>
                    <option value="3">Typowany remis</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div fusioncharts
             width="580"
             height="400"
             type="pie3d"
             dataSource="{{effectivityDataSource}}"
             class="col-sm-6">
        </div>
        <div fusioncharts
             width="580"
             height="400"
             type="pie3d"
             dataSource="{{effectivityTotalDataSource}}"
             class="col-sm-6">
        </div>
    </div>
</div>