@Scripts.Render("~/bundles/js/NewsFeedList")

@* https://bootsnipp.com/snippets/featured/user-comment-example *@

<style>
    #modalNewsFeedComment .well {
        margin-bottom: 0;
    }


    #modalNewsFeedComment .modal-body {
        padding-bottom: 0;
    }

    #modalNewsFeedComment .modal-footer {
        padding: 5px 20px 5px;
    }

    #divNewsFeed .thumbnail {
        padding: 0px;
    }

    #divNewsFeed .panel {
        position: relative;
    }

        #divNewsFeed .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        #divNewsFeed .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        #divNewsFeed .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

    #divNewsFeedList {
        overflow: auto;
    }

    #divNewsFeedCommentList {
        overflow: auto;
    }

    .liked {
        color: green;
    }
</style>
<h2>Nowości</h2>

<div ng-app="NewsFeed" id="divNewsFeed">
    <div ng-controller="NewsFeedCtrl">
        <div class="well">
            <div class="media">
                <div class="media-body">
                    <div class="form-group">
                        <label>Twój news:</label>
                        @Html.TextArea("UserEventHomeTeamName", null, new
                   {
                       @class = "form-control",
                       placeholder = "Treść",
                       ng_model = "poleTekstowe"
                   })
                    </div>
                    <div class="form-group">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <button class="btn btn-default" ng-click="addNewsFeedToList()" style="margin-top:5px;">Dodaj nowość</button>
                                </td>
                                <td>
                                    <input type="file" class="hidden" id="newsFeedFile" />
                                    {{newsFeedFileName}}
                                    <button class="btn btn-default pull-right" style="margin-top:5px;" ng-click="addNewsFeedFile()">Dodaj załącznik</button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div id="divNewsFeedList">
            <div class="well" ng-repeat="element in listaElementow">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placekitten.com/100/100">
                    </a>
                    <div class="media-body">
                        <p class="text-right"><i class="glyphicon glyphicon-user"></i> {{element.InsertUserEmail}}</p>
                        <p>
                            {{element.Content}}
                        </p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> {{element.InsertDate | date:'yyyy-MM-dd HH:mm'}}</span></li>
                            <li>|</li>
                            <li>
                                <span><i ng-click="loadNewsFeedCommentList(element.Id)" class="cursor-pointer glyphicon glyphicon-comment"></i> {{element.CommentCount}} ilość komentarzy</span>
                            </li>
                            <li>|</li>
                            <li>
                                <span>
                                    <i ng-click="likeNewsFeed(element.Id, element.IsLikedByCurrentUser)" ng-class="{ 'liked':  element.IsLikedByCurrentUser }"
                                       class="cursor-pointer glyphicon glyphicon-thumbs-up"></i> {{element.LikeCount}} ilość polubień
                                </span>
                            </li>
                            @*@if (User.IsInRole("Admin"))
                                {*@
                            <li class="pull-right">
                                <button ng-click="remove(element.Id)" class="btn btn-default pull-right btnDelete btn-sm"><span class="glyphicon glyphicon-trash"></span> Usuń</button>
                            </li>
                            @* } *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div id="modalNewsFeedComment" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Komentarz</h4>
                    </div>
                    <div class="modal-body">
                        <div class="well" style="margin-bottom:5px;">
                            <div class="media">
                                <div class="media-body">
                                    <div class="form-group">
                                        <label>Twój komentarz:</label>
                                        @Html.TextArea("commentContent", null, new
                                   {
                                       @class = "form-control",
                                       placeholder = "Treść",
                                       ng_model = "commentContent"
                                   })
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default pull-right btn-sm" ng-click="addNewsFeedCommentToList()">Dodaj komentarz</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divNewsFeedCommentList">
                            <div class="well" ng-repeat="comment in commentList" style="margin-bottom:5px;">
                                <div class="media">
                                    <div class="media-body">
                                        <p class="text-right"><i class="glyphicon glyphicon-user"></i> {{comment.InsertUserEmail}}</p>
                                        <p>
                                            {{comment.Content}}
                                        </p>
                                        <ul class="list-inline list-unstyled">
                                            <li><span><i class="glyphicon glyphicon-calendar"></i> {{comment.InsertDate | date:'yyyy-MM-dd HH:mm'}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-default btn-usun pull-right" style="margin-bottom:5px; margin-right:5px" ng-click="cancelNewsFeedComment()">Anuluj</button>
                        </div>*@
                </div>
            </div>
        </div>



    </div>
</div>